section {
  width: 100%;
  height: 238px;
  border: none;
  overflow: hidden;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
}

body {
  z-index: -99999;
}

#tsparticles {
  z-index: -10;
}

